<div class="mainbanner">
  <div id="main-banner" class="owl-carousel home-slider">
    <div class="item"> <a><img src="assets/image/banners/beaute-naturelle.jpg"  class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="assets/image/banners/Fond_TresorsdArgan.jpg"  class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="assets/image/banners/1-slideImage_1.jpg"  class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="assets/image/banners/2-slideImage_1.jpg"  class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="assets/image/banners/Soins-naturels.jpg"  class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="assets/image/banners/santé-naturels.jpg"  class="img-responsive" /></a> </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cms_banner">
      <div class="col-xs-6 cms-banner-left">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div id="subbanner1" class="banner sub-hover"> <a><img src="assets/image/banners/maman-bébé.jpg"  class="img-responsive"></a> </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 cms-banner-right">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div id="subbanner4" class="banner sub-hover"> <a><img src="assets/image/banners/compliment-alimentaire.jpg" alt="Sub Banner2" class="img-responsive"></a> </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div id="subbanner6" class="banner sub-hover"> <a><img src="assets/image/banners/hygiene.jpg" alt="Sub Banner3" class="img-responsive"></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cms_banner">
    <div class="row">
      <div class="col-md-4 ">
        <div class="cms-block1">
          <h4>Livraison Gratuite & Retour</h4>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="cms-block3">
          <h4>Support En Ligne 24/7</h4>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="cms-block2">
          <h4>Garantie De Remboursement</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content col-sm-12">


      <h3 class="client-title">Marques préférées</h3>
      <h4 class="title-subline">Les produits de haute qualité</h4>
      <div id="brand_carouse" class="owl-carousel brand-logo">
        <div class="item text-center"> <a><img src="assets/image/brand/brand1.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand3.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand5.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand6.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand7.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand8.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand9.png"  class="img-responsive" /></a> </div>
        <div class="item text-center"> <a><img src="assets/image/brand/brand5.png"  class="img-responsive" /></a> </div>
      </div>
    </div>
  </div>
</div>




