<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Informations</h5>
        <ul class="list-unstyled ul-wrapper">
          <li><a (click)="goNous()">Qui Sommes Nous</a></li>
          <li><a (click)="goTermes()">Termes & Conditions</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Mon Compte</h5>
        <ul class="list-unstyled ul-wrapper">
          <li><a (click)="gopanier()">Voir Le Panier</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Livraison</h5>
        <ul class="list-unstyled ul-wrapper">
          <li><a>Informations Sur La Livraison</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <div class="content_footercms_right">
          <div class="footer-contact">
            <h5 class="contact-title footer-title">Contactez Nous</h5>
            <ul class="ul-wrapper">
              <li><i class="fa fa-map-marker"></i><span class="location2">Addresss:<br>
                6,Rue De Saint Nom<br>
                Saint Germain <br>
                Fourqueux-78112<br>
                Paris FRANCE</span></li>
              <li><i class="fa fa-envelope"></i><span class="mail2"><a>info@nouira.com</a><br>
                <a>your@nouira.com</a></span></li>
              <li><i class="fa fa-mobile"></i><span class="phone2">0123 456 789<br>
                0123 456 788</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div id="bottom-footer">
        <div class="copyright"> Droits D'auteur - <a class="yourstore" href="https://www.linkedin.com/in/nouira-ridha/"> Créé par nouira ridha &copy; 2018 </a></div>
        <div class="footer-bottom-cms">
          <div class="footer-payment">
            <ul>
              <li class="mastero"><a><img alt="" src="assets/image/payment/mastero.jpg"></a></li>
              <li class="visa"><a><img alt="" src="assets/image/payment/visa.jpg"></a></li>
              <li class="currus"><a><img alt="" src="assets/image/payment/currus.jpg"></a></li>
              <li class="discover"><a><img alt="" src="assets/image/payment/discover.jpg"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
