<div class="mainbanner">
  <div id="main-banner" class="owl-carousel home-slider">
    <div class="item"> <a><img src="./assets/image/banners/terme1.jpg" alt="Main-Banner1" class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="./assets/image/banners/terme2.jpg" alt="Main-Banner1" class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="./assets/image/banners/terme3.jpg" alt="Main-Banner1" class="img-responsive" /></a> </div>
    <div class="item"> <a><img src="./assets/image/banners/terme4.jpg" alt="Main-Banner1" class="img-responsive" /></a> </div>
  </div>
</div>
<div class="col-md-offset-2 col-md-8">
  <h3 class="about-title">Conditions Générales D'utilisation</h3>
</div>

<div class="col-md-4 mission">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 who-we-are" >
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description Generale</a> </h4>
          </div>
          <div id="collapseOne" class="acordi-disc panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> L’Editeur de la solution technique s’est uniquement attaché à développer la Plateforme à partir de laquelle les différents Sites
            des Pharmaciens sont édités par les Pharmaciens mis à la disposition des Utilisateurs. Dès lors, son rôle se limite à la conception ainsi qu’à la maintenance techniques de la Plateforme de développement et d’édition des Sites des Pharmaciens.<br>
            Dans le cadre de la Plateforme, l’Editeur de la solution technique permet aux Utilisateurs d’avoir accès aux Sites des Pharmaciens pour bénéficier des services proposés sur les Sites des Pharmaciens.<br>
            A ce titre, l’Utilisateur est informé que les Pharmaciens sont seuls et entièrement responsables des Sites des Pharmaciens et qu’ils déterminent par conséquent unilatéralement, et dans le respect des dispositions légales applicables,
            les produits qu’ils proposent à la vente en ligne à destination des internautes intéressés ainsi que leur prix. L’Utilisateur demeure ainsi libre de commander les Produits sur le Site du Pharmacien de son choix.</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title"> <a class="collapsed accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Inscription Et Acces</a> </h4>
          </div>
          <div id="collapseTwo" class="acordi-disc panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">L’accès aux Sites des Pharmaciens, et notamment la faculté de passer des commandes, est conditionné à l’inscription de l’Utilisateur.<br>
            Pour ce faire, l’Utilisateur doit remplir un formulaire lui permettant de se créer un compte client en fournissant des informations personnelles qui permettront ensuite de l’identifier et lui faciliter l’accès aux Sites des Pharmaciens de son choix. <br>
            Les mineurs de moins de 16 ans sont admis à consulter le Site de chaque Pharmacien mais ne peuvent en aucun cas passer Commande sur les Sites des Pharmaciens. </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Donnees Personnelles</a> </h4>
          </div>
          <div id="collapseThree" class="acordi-disc panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">Les données personnelles collectées sur le Site du Pharmacien sont destinées au Pharmacien, responsable du traitement ainsi mis en œuvre
            dans le cadre de la mise en ligne du Site du Pharmacien édité par lui à partir de la Plateforme, en tant que prolongement virtuel de son officine de pharmacie. <br>
            Les données personnelles de l’Utilisateur collectées et traitées par le Pharmacien dans ce cadre incluent non seulement ses données administratives mais également ses données de santé notamment destinées à permettre au Pharmacien de s’assurer de
            l’adéquation de la Commande à l’état de santé de l’Utilisateur.t<br>
            Conformément à la loi informatique et libertés du 6 janvier 1978, l’Utilisateur dispose d'un droit d'accès et de rectification des données personnelles le concernant. </div>
        </div>
      </div>
    </div>
  </div>

</div>



